/*----- RESET ------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(207, 216, 248);
}

.card img{
    border-radius: 10px;
    margin: 1rem 1rem 0rem 1rem;
}

.txt{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title,.para{
    font-family: 'Outfit', sans-serif;
    margin: 0rem 1.8rem;
}

.title{
    font-size: 1.4rem;
    font-weight:  bolder;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1rem;
}

.para{
    font-size: 15px;
    font-weight: lighter;
    color: hsl(220, 15%, 55%);
    margin-bottom: 3rem;
}


/*--------MEDIA QUERIES-------*/
@media(max-width:375px){
    .card{
        margin: 150px auto ;
        background-color: hsl(0, 0%, 100%);
        height: 55%;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 20px;
        text-align: center;
    }
}

@media (min-width:375px){
    .card{
        margin: 150px auto ;
        background-color: hsl(0, 0%, 100%);
        height: 55%;
        width: 40vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 20px;
        text-align: center;
    }
}
